

.headerBtn{
    border-radius: 4px;
background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%); 
}

.bodyWrap{
    border-image:  linear-gradient(180deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%) ; 
    border-width: 2px;
    border-style: solid;
    border-image-slice: 1;
    border-radius: 4px;
}

.activeHeaderBtn{
    background: -webkit-linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.montserrat{
    font-family: Montserrat;
}

.clashDisplay{
    font-family: clashDisplay;
}

.unica{
    font-family: unica;
}

.clashDisplayBig{
    font-family: clashDisplayBig;
}

.blend{
    filter: hue-rotate(0deg);
}

.inter{
  font-family: Inter;
}


.globeBlend{
    background: url("./assets/svgs/globe.svg"), lightgray -0.113px -10.671px / 105.862% 104.281% no-repeat;
background-blend-mode: hard-light; 
}

@font-face {
    font-family: Montserrat;
    src: url("/public/fonts/Montserrat/static/Montserrat-Medium.ttf");
}

@font-face {
    font-family: clashDisplay;
    src: url("/public/fonts/OTF/ClashDisplay-Medium.otf");
}

@font-face {
    font-family: clashDisplayBig;
    src: url("/public//fonts/OTF/ClashDisplay-Bold.otf");
}

@font-face {
    font-family: unica;
    src: url("/public/fonts/Unica_One/UnicaOne-Regular.ttf");
}

@font-face {
  font-family: Inter;
  src: url("/public/fonts/Inter/Inter-Medium.ttf");
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .blinking {
    animation: blink 1s infinite;
  }

  @media (min-width: 1200px) {
    .metrixBg{
        background-image: url("./assets/svgs/metrix.svg");
        background-repeat: repeat;
        background-size: cover;
        background-position: right;
    }
  }

  .AlertDialogOverlay {
    background-color: #150E28ED;
    position: fixed;
    inset: 0;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    z-index: 1000;
  }
  
  .AlertDialogContent {
    box-shadow:
      hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
      hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    /* position: fixed;
    top: 50%;
    left: 51%; */
    transform: translate(-50%, -50%);
    overflow-y: auto;  
    z-index: 1000;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  
  @media (max-width: 768px) {
    .AlertDialogContent {
      /* width: 90vw; */
      /* overflow-y: hidden; */
      left: 50%;
    }
  }
  
  .AlertDialogContent::-webkit-scrollbar {
    width: 0px;
  }
  
  .AlertDialogContent::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }
  
  .AlertDialogContent::-webkit-scrollbar-thumb {
    background-color: #cbc6bf;
    border-radius: 100px;
  }
  .AlertDialogContent:focus {
    outline: none;
  }
  
  .AlertDialogTitle {
    margin: 0;
    color: var(--white2);
    font-size: 29px;
    font-weight: 600;
    margin: 32px 0 16px 0;
  }
  


  @keyframes overlayShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes contentShow {
    from {
      opacity: 0;
      transform: translate(-50%, -48%) scale(0.96);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
  
  .AlertHeader {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
  }
  

  .image-transition {
    opacity: 1;
    transition: opacity 1s ease-in-out; /* Define your desired transition properties */
  }
/* 
/* Add this to your CSS file */
@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0); /* Start and end position */
  }
  50% {
    transform: translateY(-20px); /* Middle position (upward) */
  }
}

/* Add this to your CSS file */
.floating-image {
  animation: floatUpDown 3s ease-in-out infinite; /* Adjust the duration and timing function as needed */
}

.slide-in-r {
  animation: slideInFromLeft 1s ease forwards; /* Adjust the duration and timing function as needed */
}

.slide-in-l {
  animation: slideInFromRight 1s ease forwards; /* Adjust the duration and timing function as needed */
}

/* Add this to your CSS file */
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%); /* Start position */
  }
  to {
    transform: translateX(0); /* End position */
  }
}

/* Add this to your CSS file */
@keyframes slideInFromRight {
  from {
    transform: translateX(100%); /* Start position */
  }
  to {
    transform: translateX(0); /* End position */
  }
}


@media (max-width: 356px) {
  .overImg{
    margin-left: 0px;
  }
  .overText{
    width: 200px;
  }
  *{
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .ftr{
    padding: 100px 0px 100px 20px;
  }
  .ovrPlc{
    margin-top: 0px;
  }
  .ovrTxt{
    font-size: 14px;
  }
  .ovrTxt2{
    font-size: 20px
  }
  .imgOvr{
    overflow-y: hidden;
  }
  .tl{
    margin-bottom: 20px;
  }
}